.TileContainer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    width: 66vh;
    height: 66vh;
  }

  .TileContainer p {
    display: none;
  }
  