.TileContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 40rem;
    align-content: space-around;
    justify-content: space-around;
  }

  .TileContainer p {
    display: none;
  }
  