@import url('https://fonts.googleapis.com/css?family=Concert+One&display=swap');

.NewGameButton {
    background-color: #9381FF;
    padding: 1.5vh;
    margin: 0.5vh 2vh;
    width: 12vh;
    height: 10vh;
    border-radius: 2vh;
    box-shadow: 0.5vh 0.5vh 1vh lightgrey;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    align-items: center;
    justify-content: space-around;
}

.NewGameButton h2 {
    color: #F8F7FF;
    font-weight: bolder;
    font-size: 3.5vh;
    font-family: 'Concert One';
    
}