@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');

.Header {
    display: flex;
    background-color: #B8B8FF;
    height: 6rem;
    justify-content: center;
    align-content: center;
    box-shadow: 2px 2px 5px lightgrey;
   
}

.Header h1 {
    font-family: 'Monoton', cursive;
    font-size: 6rem;
    color: #F8F7FF;
    text-shadow: 2px 2px 5px #9381FF;
    margin-left: 1rem;

}