@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');

.Header {
    display: flex;
    position: fixed;
    background-color: #B8B8FF;
    justify-content: center;
    align-content: center;
    box-shadow: 0.5vh 0.5vh 1vh lightgrey;
    width: 100%;
    height: 13vh;
    top: 0;
    z-index: 2;
   
}

.Header h1 {
    font-family: 'Monoton', cursive;
    font-size: 12vh;
    color: #F8F7FF;
    text-shadow: 0.5vh 0.5vh 1vh #9381FF;
    margin: 1vh;

}