.TileFront {
    display: flex;
    flex-direction: column;
    background-color: #FFEEDD;
    padding: 10px;
    margin: 10px;
    width: 7rem;
    height: 7rem;
    border-radius: 0.75rem;
    box-shadow: 5px 5px 10px lightgrey;
    align-items: center;
    justify-items: center;

  }

.TileFront[matched='true']{
  opacity: 0.40;
}

.TileFront:hover {
    opacity: .75;
}

.TileFront img {
    width: 6rem;
    margin-top: 0.5rem;
    align-content: center;
    justify-content: center;
    display: flex;
 }
  