.TileFront {
    display: flex;
    flex-direction: column;
    background-color: #FFEEDD;
    padding: 1.5vh;
    margin: 0.5vh;
    width: 12vh;
    height: 12vh;
    border-radius: 2vh;
    box-shadow: 0.5vh 0.5vh 1vh lightgrey;
    align-items: center;
    justify-items: center;

  }

.TileFront[matched='true']{
  opacity: 0.40;
}

.TileFront:hover {
    opacity: .75;
}

.TileFront img {
    width: 12vh;
    align-content: center;
    justify-content: center;
    display: flex;
 }
  