.TileFront {
    display: flex;
    flex-direction: column;
    background-color: #FFEEDD;
    padding: 1.5vh;
    margin: 0.5vh;
    width: 12vh;
    height: 12vh;
    border-radius: 2vh;
    border-width: 0.5px;
    border-color: whitesmoke;
    border-style: solid;
    box-shadow: 0.5vh 0.5vh 1vh lightgrey;
    align-items: center;
    justify-items: center;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
  }

.TileFront[matched='true']{
  opacity: 0.40;
}

.TileFront:hover {
    transition: 0.3s ease;
    -webkit-transform: scale3d(1.15, 1.15, 1.15);
    -ms-transform: scale3d(1.15, 1.15, 1.15);
    transform: scale3d(1.15, 1.15, 1.15);
}

.TileFront img {
    width: 12vh;
    align-content: center;
    justify-content: center;
    display: flex;
 }
  